.container {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 255, 0.2);
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.income {
  background-color: rgb(84, 177, 84);
}
.expense {
  background-color: rgb(194, 31, 31);
}
